body {
    background-image: url("Images/paper.jpg");
    background-color: darkslategrey;
}

h1 {
    text-align: center;
}


button {
    background-color: #d34613;
    width: 80px;
    height:40px;
    color: white;
    font-size: 14px;
}

.one {
    margin-bottom: 50px;
}

.two {
    margin-bottom: 50px;
}

.three {
    margin-bottom: 50px;
}
