body {
    background-image: url("Images/paper.jpg");
    background-color: darkslategrey;
}

h1 {
    text-align: center;
}


button {
    background-color: red;
}

.one {
    margin-bottom: 100px;
}

.two {
    margin-bottom: 100px;
}

.three {
    margin-bottom: 100px;
}
