body {
    background-image: url("Images/paper.jpg");
    background-color: darkslategrey;
}

h1 {
    text-align: center;
}


a.btn {
    display: block;
    width: 115px;
    height: 25px;
    background: skyblue;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: white;
}

.one {
    margin-bottom: 100px;
}

.two {
    margin-bottom: 100px;
}

.three {
    margin-bottom: 100px;
}
